@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.portstyle {
    font-family: 'Lobster', sans-serif;
    color: rgb(247, 0, 0);
    font-weight: 900;
    font-size: 2em;
}

.nav-item {
    margin-left: 10%;
    font-size: larger;
 
    font-weight: 500;
    color: black; /* Set the default color */
    transition: color 0.3s; /* Add a smooth transition effect for color changes */
}

.nav-link{
    color: black; /* Set the default color */
    transition: color 0.3s; /* Add a smooth transition effect for color changes */
}
.nav-link:hover {
    color: rgb(247, 0, 0);
}

.name{
    font-family: 'Fira Sans', sans-serif;
}

h2{
    font-weight: 500;
}

.webdeveloper{
    font-family: 'Bungee Spice', sans-serif;
}

.typed-text {
    animation: typing 1s steps(20, end) forwards, blinking 1.2s infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width:90%}
  }
  
  

p{
    font-size: large;
}

.frontpage{
   
    margin-top: 90px;
}



.image{
   
    height: 400px;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;   
    border-radius: 50px;
   
}

.socoicon1{
    width: 40px;
}
.socoicon2{
    width: 40px;
}
.socoicon3{
    width: 40px;
}

.socoicon1:hover{
    width: 6%;
}
.socoicon2:hover{
    width: 6%;
}
.socoicon3:hover{
    width: 6%;
}